<!-- mini_fb/templates/mini_fb/base.html
    html templates to be reused by all other templates in mini_fb 
    -->

{% load static %}

<html>
    <head>
        <title>MiniFacebook</title>
        <link rel="stylesheet" href="{% static 'mini_fb/minifb_styles.css' %}">
    </head>

    <body>
        <nav>
            Logged in as: {{ request.user }}
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'create_profile' %}">Create new Profile</a></li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}

        {% endblock %}
    </body>
</html>