 <!-- template to load all the profiles -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<a href="{% url 'show_profile' profile.pk %}">Back to Profile Page</a>


<main class="placeholder">
    <table>
        {% if profile.get_news_feed %}
            {% for feed_list in profile.get_news_feed %}
                {% for indiv_feed in feed_list %}
                <tr>
                    
                    <td class="news_feed">
                        <p>
                        <a href="{% url 'show_profile' indiv_feed.profile.pk %}">
                            <img class="news_pic" 
                                src="{{indiv_feed.profile.profile_image_url}}" alt="missing">
                        </a>
                        
                        {{indiv_feed.profile.first_name}} {{indiv_feed.profile.last_name}}
                        {{indiv_feed.timestamp}}</p>

                        <div>
                            <strong>{{indiv_feed.message}}</strong>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</main>




{% endblock %}